{% assign sings = section.settings %}
{%- style -%}
  .ac-{{ section.id }}{
    background: linear-gradient(180deg, {{ sings.bg_color_start }} 0%, {{ sings.bg_color_end }} 68.75%);
  }
  .ac-{{ section.id }} .ac-container{
    padding: 70px 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  .ac-{{ section.id }} h1,
  .ac-{{ section.id }} p,
  .ac-{{ section.id }} span,
  .ac-{{ section.id }} strong{
    letter-spacing:0;
    line-height:1;
  }
  .ac-{{ section.id }} h1{
    font-size:35px;
    text-transform: uppercase;
  }
  .ac-{{ section.id }} p{
    font-size:16px;
    line-height:1.3;
  }
  .ac-{{ section.id }} .ac-header {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
  }
  .ac-{{ section.id }} .ac-header .ac-header-copy{
    max-width: 550px;
    margin: 0 auto;
    margin-top:20px;
    margin-bottom:40px;
  }
  .ac-{{ section.id }} .ac {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }   
  .ac-{{ section.id }} .ac img{
    max-width: 100%;
  }
  .ac-{{ section.id }} .ac-copy-wrp {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .ac-{{ section.id }} .ac-copy {
    max-width: 450px;
  }
  @media screen and (min-width: 640px) {
    .ac-{{ section.id }} h1{
      font-size:50px;
    }
    .ac-{{ section.id }} p{
      font-size:20px;
    }
  }
  @media screen and (min-width: 767px) {
    .ac-{{ section.id }} .ac-copy-wrp {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
{%- endstyle -%}
<div class="alternating-content-wrp ac-{{ section.id }}">
  <div class="ac-container">
    <div class="ac-header">
      <h1>{{ sings.header_title }}</h1>
      <div class="ac-header-copy">{{ sings.header_copy }}</div>
      {% if sings.header_icon %}
        <img src="{{ sings.header_icon | image_url }}" alt="{{ sings.header_title }}" style="max-width:60px; margin:0px auto; margin-bottom:40px;">
      {% endif %}
    </div>
    <div class="ac-wrp">
      {%- for block in section.blocks -%}
        {% assign bings = block.settings %}
        {% assign evenIndex = forloop.index | add: 1 | modulo: 2 %}
        <div class="ac ac-{{ forloop.index | add: 1 }}{% if evenIndex == 0 %} ac-even{% endif %}">
          <img src="{{ bings.ac_image | image_url }}" class="ac-image" alt="{{ bings.ac_title }}">
          <div class="ac-copy-wrp">
            <div class="ac-copy">
              <h1>{{ bings.ac_title }}</h1>
              <div class="ac-content">{{ bings.ac_copy }}</div>
            </div>
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Alternating Content",
  "tag": "section",
  "class": "section alternating-content",
  "settings": [
    {
      "type": "color",
      "id": "bg_color_start",
      "label": "Background Gradient Start",
      "default":"#FFFFFF"
    },
    {
      "type": "color",
      "id": "bg_color_end",
      "label": "Background Gradient End",
      "default":"#EFFCF6"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default":"#065142"
    },
    {
      "type": "text",
      "id": "header_title",
      "label": "Section Title"
    },
    {
      "type": "richtext",
      "id": "header_copy",
      "label": "Section Copy"
    },
    {
      "type": "image_picker",
      "id": "header_icon",
      "label": "Section Icon"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Alternating Content",
      "limit": 4,
      "settings": [
        {
          "type": "image_picker",
          "id": "ac_image",
          "label": "Content Image"
        },
        {
          "type": "color",
          "id": "ac_color",
          "label": "Alternating Content Color",
          "default":"#065142"
        },
        {
          "type": "text",
          "id": "ac_title",
          "label": "Alternating Content Title"
        },
        {
          "type": "richtext",
          "id": "ac_copy",
          "label": "Alternating Content Copy"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Alternating Content"
    }
  ]
}
{% endschema %}