{% assign sings = section.settings %}
<link rel="preload" as="image" href="{{ sings.bg_img | image_url }}">
{{ 'sctn-basic-content.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .basic-content-{{ section.id }} .bg-image{
    background:url({{ sings.bg_img | image_url }}) center top no-repeat;
    background-size:cover;
  }  
  .basic-content-{{ section.id }} .copy-sctn{
    background-color:{{ sings.bg_color }};
  }
  .basic-content-{{ section.id }} .copy-sctn h1{
    color:{{ sings.title_color }};
  }
  .basic-content-{{ section.id }} .copy-sctn p,
  .basic-content-{{ section.id }} .copy-sctn p strong,
  .basic-content-{{ section.id }} .copy-sctn p span,
  .basic-content-{{ section.id }} .copy-sctn p i{
    color:{{ sings.copy_color }};
  }
{%- endstyle -%}
{% if sings.content_right == false %}
  {% assign content_side = 'bc-left' %}
{% endif %}

  

<div class="basic-content-wrp basic-content-{{ section.id }}{{ content_side | prepend: ' '}}" {% if sings.id_anchor %}id="{{sings.id_anchor}}"{% endif %}>
  <div class="content-wrp">
    <div class="bg-image lazyload" data-bg="{{ sings.bg_img | image_url }}"></div>
    <div class="copy-sctn">
      <div class="copy-wrp">
        <h1>{{sings.title}}</h1>
        <p>{{sings.copy}}</p>
        {% if sings.button_url %}
          <a href="{{ sings.button_url }}" class="btn-link">{{ sings.button_url_text }}</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Basic Content - Custom",
  "tag": "section",
  "class": "section basic-content",
  "settings": [
    {
      "type": "header",
      "content": "Copy Section"
    },
    {
      "type": "checkbox",
      "id": "content_right",
      "label": "Copy Content Right",
      "default":true
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Copy Background Color",
      "default":"#EFFCF6"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Header Title"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title Color",
      "default":"#FFFFFF"
    },
    {
      "type": "richtext",
      "id": "copy",
      "label": "Copy"
    },
    {
      "type": "color",
      "id": "copy_color",
      "label": "Copy Color",
      "default":"#FFFFFF"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "text",
      "id": "button_url_text",
      "label": "Button Text",
      "default": "Learn more"
    },
    {
      "type": "header",
      "content": "Background Section"
    },
    {
      "type": "image_picker",
      "id": "bg_img",
      "label": "Background Image"
    },
    {
      "type": "text",
      "id": "id_anchor",
      "label": "Anchor ID"
    }
  ],
  "presets": [
    {
      "name": "Basic Content - Custom"
    }
  ]
}
{% endschema %}