{% assign sings = section.settings %}
<link rel="preload" as="image" href="{{ sings.bg_img | image_url }}">
{%- style -%}
  .card-resources-{{ section.id }}{
    background:url({{ sings.bg_img | image_url }}) center top no-repeat;
    background-size:cover;
    background-color:{{ sings.bg_color }};
  }
  .card-resources-{{ section.id }} .content-wrp{
    max-width:640px;
    padding: 70px 20px;
    margin: 0 auto;
  }
  .card-resources-{{ section.id }} .header-wrp h1{
    color:{{ sings.title_color }};
    font-size:50px;
    text-transform:uppercase;
  }
  .card-resources-{{ section.id }} .card-wrp {
    max-width: 335px;
    margin: 30px auto;
    padding: 25px;
  }
  .card-resources-{{ section.id }} .card-wrp h1{
    text-transform: uppercase;
    letter-spacing: 0;
    line-height: 1;
    font-size: 35px;
    margin-bottom: 20px;
  }
  .card-resources-{{ section.id }} .card-wrp .icon-img{
    width: 70px;
    margin-bottom: 30px;
  }
  .card-resources-{{ section.id }} .card-wrp .card-content a{
    border-top: 1px solid #065142;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
  }
  .card-resources-{{ section.id }} .card-wrp .card-content a p{
    font-size: 16px;
    font-family: "Korolev-Heavy";
    text-transform: uppercase;
    letter-spacing: 0;
    
  }
  
  @media screen and (min-width: 640px) {
    .card-resources-{{ section.id }} .content-wrp{
      max-width:1200px;
    }
    .card-resources-{{ section.id }} .header-wrp h1{
      font-size:70px;
    }
    .card-resources-{{ section.id }} .card-wrp .icon-img{
      width:90px;
    }
    .card-resources-{{ section.id }} .card-wrp h1{
      font-size:50px;
    }
    .card-resources-{{ section.id }} .card-wrp .card-content a p{
      font-size:20px;
    }
  }
  @media screen and (min-width: 767px) {
    .card-resources-{{ section.id }} .cards{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
    }
  
    
  }
  @media screen and (min-width: 1000px) {
    .card-resources-{{ section.id }} .card-wrp {
      text-align:center;
    }
    .card-resources-{{ section.id }} .card-wrp .icon-img{
      margin:20px auto;
    }
  }
  @media screen and (min-width: 1100px) {
    .card-resources-{{ section.id }} .card-wrp {
      margin: 30px 0;
    }
    .card-resources-{{ section.id }} .cards{
      justify-content: space-between;
    }
  }
{%- endstyle -%}

<div class="card-resources-wrp card-resources-{{ section.id }}" {% if sings.id_anchor %}id="{{sings.id_anchor}}"{% endif %}>
  <div class="content-wrp">
    <div class="header-wrp">
      <h1>{{ sings.title }}</h1>
    </div>
    <div class="cards-wrp">
      <div class="cards">
        {%- for block in section.blocks -%}
          {% assign bings = block.settings %}
          <div class="card-wrp" style="background-color:{{ bings.copy_bg_color }}">
            <img data-src="{{ bings.icon_image | image_url }}" class="lazyload icon-img" alt="{{ bings.resource_title }}">
            <h1>{{ bings.resource_title }}</h1>
            <div class="card-content" >
              <a href="{{ bings.link_url }}">
                <p>{{ bings.resource_text }}</p>
                <img src="{{ bings.guide_arrow | image_url }}" class="lazyload" alt="">
              </a>
            </div>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Cards - Resources",
  "tag": "section",
  "class": "section cards-resources",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "image_picker",
      "id": "bg_img",
      "label": "Background Image"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default":"#FFFFFF"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Section Header"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title Color",
      "default":"#FFFFFF"
    },
    {
      "type": "text",
      "id": "id_anchor",
      "label": "Anchor ID"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Resources",
      "limit": 3,
      "settings": [
        {
          "type": "color",
          "id": "copy_bg_color",
          "label": "Copy Background Color",
          "default":"#FFF1DA"
        },
        {
          "type": "color",
          "id": "copy_color",
          "label": "Copy Color",
          "default":"#065142"
        },
        {
          "type": "text",
          "id": "resource_title",
          "label": "Resource Title"
        },
        {
          "type": "text",
          "id": "resource_text",
          "label": "Resource Text"
        },
        {
          "type": "image_picker",
          "id": "icon_image",
          "label": "Resource Image"
        },
        {
          "type": "image_picker",
          "id": "guide_arrow",
          "label": "Resource Arrow Image"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Resource URL"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Resourcessss",
      "limit": 5,
      "settings": [
        {
          "type": "color",
          "id": "copy_bg_color",
          "label": "Copy Background Color",
          "default":"#FFF1DA"
        },
        {
          "type": "color",
          "id": "copy_color",
          "label": "Copy Color",
          "default":"#065142"
        },
        {
          "type": "text",
          "id": "resource_title",
          "label": "Resource Title"
        },
        {
          "type": "text",
          "id": "resource_text",
          "label": "Resource Text"
        },
        {
          "type": "image_picker",
          "id": "icon_image",
          "label": "Resource Image"
        },
        {
          "type": "image_picker",
          "id": "guide_arrow",
          "label": "Resource Arrow Image"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Resource URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Cards - Resources"
    }
  ]
}
{% endschema %}