{% assign sings = section.settings %}
<link rel="preload" as="image" href="{{ sings.bg_img | image_url }}">
{%- style -%}
  .card-guides-{{ section.id }}{
    background:url({{ sings.bg_img | image_url }}) center top no-repeat;
    background-size:cover;
    background-color:{{ sings.bg_color }};
  }
  .card-guides-{{ section.id }} .content-wrp{
    max-width:1200px;
    padding: 70px 20px;
    margin: 0 auto;
  }
  .card-guides-{{ section.id }} .header-wrp {
    border-top: 4px solid #065142;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .card-guides-{{ section.id }} .header-wrp h1{
    color:{{ sings.title_color }};
    font-size:50px;
    text-transform:uppercase;
  }
  .card-guides-{{ section.id }} a.link-all {
    text-transform: uppercase;
    font-family: "Korolev-Heavy";
    text-decoration: none;
    padding: 14px 20px;
    background-color: #ADFF44;
    border-radius: 7px;
    line-height: 1;
  }
  .card-guides-{{ section.id }} a.link-desktop{ display:none; }
  .card-guides-{{ section.id }} a.link-mobile{ display: inline-block; }

  .card-guides-{{ section.id }} .cards-wrp {
    flex: 1;
    display: flex;
    overflow: auto;
  }
  .card-guides-{{ section.id }} .cards {
    display: flex;
  }
  .card-guides-{{ section.id }} .card-wrp {
    width: 280px;
    margin: 0 10px;
  }
  .card-guides-{{ section.id }} .card-wrp img {
    max-width: 100%;
  }
  .card-guides-{{ section.id }} .card-wrp img.top-img {
    max-height: 270px;
  }
  .card-guides-{{ section.id }} .card-wrp:first-child{
    margin-left:0;
  }
  .card-guides-{{ section.id }} .card-wrp:last-child{
    margin-right:0;
  }
  .card-guides-{{ section.id }} .card-wrp .card-copy{
    padding: 15px;
  }
  .card-guides-{{ section.id }} .card-wrp .card-copy p.guide-tag {
    text-transform: uppercase;
    font-family: "Korolev-Heavy";
    letter-spacing: 0;
    font-size: 16px;
    line-height: 1;
    margin-bottom: 10px;
  }
  .card-guides-{{ section.id }} .card-wrp .card-copy .card-content {
    border-top: 1px solid #065142;
    margin-top: 10px;
    padding-top: 10px;
  }
  .card-guides-{{ section.id }} .card-wrp .card-copy .card-content p{
    height: 100px;
    line-height: 1.2;
    letter-spacing: 0;
    color: inherit;
  }
  .card-guides-{{ section.id }} .card-wrp .card-copy .card-content a{
    display: inline;
    font-size: 12px;
    text-decoration: none;
    font-family: "Korolev-Heavy";
    font-weight: normal;
  }
  .card-guides-{{ section.id }} .card-wrp .card-copy .title-wrp{
    display: flex;
    justify-content: space-between;
    align-items: start;
    height: 80px;
  }
  .card-guides-{{ section.id }} .card-wrp .card-copy .title-wrp h1{
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 0;
    line-height: 1;
    max-width: 200px;
  }
  .card-guides-{{ section.id }} .card-wrp .card-copy .title-wrp a img{
    width: 30px;
    margin-left:10px;
  }
  
  @media screen and (min-width: 640px) {
    .card-guides-{{ section.id }} a.link-desktop{ display: inline-block; }
    .card-guides-{{ section.id }} a.link-mobile{ display:none; }
    .card-guides-{{ section.id }} .header-wrp h1{
      font-size:70px;
    }
    .card-guides-{{ section.id }} .card-wrp .card-copy .card-content p{
      height: 125px;
      font-size:15px;
    }
    .card-guides-{{ section.id }} .card-wrp .card-copy .card-content a{
      font-size: 16px;
    }
    .card-guides-{{ section.id }} .card-wrp .card-copy .title-wrp{
      height: 100px;
    }
  }
  @media screen and (min-width: 950px) {
    .card-guides-{{ section.id }} .content-wrp{
      padding:100px 20px;
    }
    .card-guides-{{ section.id }} .cards-wrp {
      display: block;
      overflow: unset;
    }
    .card-guides-{{ section.id }} .card-wrp {
      width: 365px;
    }
    .card-guides-{{ section.id }} .card-wrp .card-copy .card-content {
      padding-top:15px;
    }
    .card-guides-{{ section.id }} .card-wrp .card-copy .card-content p{
      line-height:1.3;
    }
    .card-guides-{{ section.id }} .card-wrp .card-copy .title-wrp h1{
      font-size: 30px;
      max-width: 220px;
    }
    .card-guides-{{ section.id }} .card-wrp .card-copy .title-wrp a img{
      width: 35px;
    }
    .card-guides-{{ section.id }} .card-wrp .card-copy p.guide-tag {
      font-size:20px;
    }
    .card-guides-{{ section.id }} .cards {
      display: flex;
      align-items:start;
      justify-content: space-between;
    }
    
  }
  @media screen and (min-width: 1000px) {
    .card-guides-{{ section.id }} .card-wrp .card-copy .title-wrp {
      height: 115px;
    }
    .card-guides-{{ section.id }} .card-wrp .card-copy .title-wrp h1{
      font-size: 35px;
      max-width: 250px;
    }
  }
{%- endstyle -%}

<div class="card-guides-wrp card-guides-{{ section.id }}" {% if sings.id_anchor %}id="{{sings.id_anchor}}"{% endif %}>
  <div class="content-wrp">
    <div class="header-wrp">
      <h1>{{ sings.title }}</h1>
      {% if sings.all_url %}
        <a href="{{ sings.all_url }}" class="link-all link-desktop">{{ sings.link_text }}</a>
      {% endif %}
    </div>
    <div class="cards-wrp">

      <div class="cards">
  
        {%- for block in section.blocks -%}
          {% assign bings = block.settings %}
          <div class="card-wrp">
            <img data-src="{{ bings.guide_image | image_url }}" class="top-img lazyload" alt="{{ bings.guide_title }}">
            <div class="card-copy-wrp" style="background-color:{{ bings.copy_bg_color }}">
              <div class="card-copy">
                <p class="guide-tag">{{ bings.card_tag }}</p>
                <div class="title-wrp">
                  <h1 style="color:{{ bings.copy_color }}">{{ bings.guide_title }}</h1>
                  {% if bings.link_url %}
                    <a href="{{ bings.link_url }}"><img src="{{ bings.guide_arrow | image_url }}" class="lazyload" alt="{{ bings.guide_title }}"></a>
                  {% endif %}
                </div>
                <div class="card-content">
                  <div class="richtext" style="color:{{ bings.copy_color }}">
                    {{ bings.guide_copy | truncate: 200 }}
                    {% if bings.link_url %}
                      <a href="{{ bings.link_url }}" style="color:{{ bings.copy_color }}">Read More</a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {%- endfor -%}
      </div>
    </div>
    {% if sings.all_url %}
      <a href="{{ sings.all_url }}" class="link-all link-mobile">{{ sings.link_text }}</a>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Cards - Guides Links",
  "tag": "section",
  "class": "section cards-guides",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "image_picker",
      "id": "bg_img",
      "label": "Background Image"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default":"#FFFFFF"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Section Header"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title Color",
      "default":"#FFFFFF"
    },
    {
      "type": "text",
      "id": "id_anchor",
      "label": "Anchor ID"
    },
    {
      "type": "url",
      "id": "all_url",
      "label": "Link"
    },
    { 
      "type": "text",
      "id":"link_text",
      "label":"Link Text",
      "default": "See All"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Guides",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "card_tag",
          "label": "Card Tag",
          "default": "Guide"
        },
        {
          "type": "color",
          "id": "copy_color",
          "label": "Copy Color",
          "default":"#065142"
        },
        {
          "type": "color",
          "id": "copy_bg_color",
          "label": "Copy Background Color",
          "default":"#FFF1DA"
        },
        {
          "type": "text",
          "id": "guide_title",
          "label": "Guide Title"
        },
        {
          "type": "image_picker",
          "id": "guide_image",
          "label": "Guide Image"
        },
        {
          "type": "image_picker",
          "id": "guide_arrow",
          "label": "Guide Arrow Image"
        },
        {
          "type": "richtext",
          "id": "guide_copy",
          "label": "Guide Excerpt"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Guide URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Cards - Guides Links"
    }
  ]
}
{% endschema %}