{% assign sings = section.settings %}
<link rel="preload" as="image" href="{{ sings.bg_img | image_url }}">
{%- style -%}
  .card-guides-{{ section.id }}{
    background:url({{ sings.bg_img | image_url }}) center top no-repeat;
    background-size:cover;
    background-color:{{ sings.bg_color }};
  }  
  .card-guides-{{ section.id }} .header-wrp h1{
    color:{{ sings.title_color }};
  }
  
{%- endstyle -%}
{% if sings.content_right == false %}
  {% assign content_side = 'bc-left' %}
{% endif %}

  

<div class="card-guides-wrp card-guides-{{ section.id }}" {% if sings.id_anchor %}id="{{sings.id_anchor}}"{% endif %}>
  <div class="content-wrp">
    <div class="header-wrp">
      <h1>{{ sings.title }}</h1>
    </div>
    <div class="cards">

      {%- for block in section.blocks -%}
        {% assign bings = block.settings %}
        <div class="card-wrp">
          <img data-src="{{ bings.guide_image | image_url }}" class="ac-image lazyload" alt="{{ bings.guide_title }}">
          <div class="card-copy-wrp" style="background-color:{{ bings.copy_color }}">
            <div class="card-copy">
              <p class="guide-tag">{{ bings.card_tag }}</p>
              <div class="title-wrp">
                <h1>{{ bings.guide_title }}</h1>
                {% if bings.link_url %}
                  <a href=""><img src="{{ bings.guide_arrow | image_url }}" class="lazyload" alt="{{ bings.guide_title }}"></a>
                {% endif %}
              </div>
              <div class="card-content" >
                {{ bings.guide_copy | truncate: 50  }}
                {% if bings.link_url %}
                  <a href="{{ bings.link_url }}">Read More</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Cards - Guides Links",
  "tag": "section",
  "class": "section cards-guides",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "image_picker",
      "id": "bg_img",
      "label": "Background Image"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default":"#FFFFFF"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Section Header"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title Color",
      "default":"#FFFFFF"
    },
    {
      "type": "text",
      "id": "id_anchor",
      "label": "Anchor ID"
    },
    {
      "type": "url",
      "id": "all_url",
      "label": "Link"
    },
    { 
      "type": "text",
      "id":"link_text",
      "label":"Link Text",
      "default": "See All"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Guides",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "card_tag",
          "label": "Card Tag",
          "default": "Guide"
        },
        {
          "type": "color",
          "id": "copy_color",
          "label": "Copy Color",
          "default":"#FFF1DA"
        },
        {
          "type": "text",
          "id": "guide_title",
          "label": "Guide Title"
        },
        {
          "type": "image_picker",
          "id": "guide_image",
          "label": "Guide Image"
        },
        {
          "type": "image_picker",
          "id": "guide_arrow",
          "label": "Guide Arrow Image"
        },
        {
          "type": "richtext",
          "id": "guide_copy",
          "label": "Guide Excerpt"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Guide URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Cards - Guides Links"
    }
  ]
}
{% endschema %}