{% assign sings = section.settings %}

{{ 'collection-pages.css' | asset_url | stylesheet_tag }}
{{ 'collection-items.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .collection-items-{{ section.id }} .product-img{
    
    width:270px;
    height:270px;
    display: block;
  }
{%- endstyle -%}
<div class="collection-items-wrp collection-items-{{ section.id }}">
  <div class="collection-items">
    
    {% if sings.card_mobile %}
      <img src="{{ sings.card_mobile | image_url}}" alt="Subscribe and Save" class="subscribe-img sub-img-m">
    {% endif %}
    {% if sings.title %}
      <h2 class="collection-header">{{ sings.title }}</h2>
    {% endif %}
    {% if section.settings.collection != blank %}
      <ul class="collection-list-container">
      {%- for product in sings.collection.products -%}
        {% liquid 
          assign gallon = product.metafields.product_info.gallons.value 
          assign count = product.metafields.product_info.count.value 
        %}

        <li id="Slide-{{ section.id }}-{{ forloop.index }}" class="product-card product-{{ product.title | handleize}}">
          <div class="btn-wrp">
            <a href="{{ product.url }}" class="learn-more-link btn-link">
              Shop Now
            </a>
          </div>
          
          <div class="product-img" style="background:url({% if product.featured_image %}{{ product.featured_image | image_url }}{% else %}{{ 'collection-product-bg.png' | file_url }}{% endif %}) center top no-repeat; background-size:cover;"></div>
          <!-- {% if product.featured_image %}
            <img src="{{ product.featured_image | image_url }}" alt="{{ product.title }}">
          {% else %}
            <img src="{{ 'collection-product-bg.png' | file_url }}" alt="{{ product.title }}">
          {% endif %} -->
          <div class="reviews">

          </div>
          <div class="label-price">
            <h2>{{ product.title }}</h2>
            <p>
              {% if product.compared_at_price %}
                <strike class="prod-price-strike">{{ product.compared_at_price | money }} </strike>
              {% endif %}
              <span class="prod-price">{{ product.price | money }}</span>
            </p>
          </div>
          {% if gallon or count %}  
            <div class="product-info">
              {% if gallon %}
                <p class="prod-gallon"><span>{{ gallon }}</span> gallon</p>
              {% endif %}
              {% if count %}
                <p class="prod-box"><span>{{ count }}</span> bags/box</p>
              {% endif %}
            </div>
          {% endif %}
        </li>
      {%- endfor -%}
      {% if sings.card_desktop %}
        <img src="{{ sings.card_desktop | image_url}}" alt="Subscribe and Save" class="subscribe-img sub-img-d">
      {% endif %}
      </ul>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Collection Items/Cards",
  "tag": "section",
  "class": "section section-collection section-collection-items",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Collection Name"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "header",
      "content": "Marketing Card"
    },
    {
      "type": "image_picker",
      "id": "card_mobile",
      "label": "Mobile Card"
    },
    {
      "type": "image_picker",
      "id": "card_desktop",
      "label": "Desktop Card"
    }
  ],
  "presets": [
    {
      "name": "Collection Items/Cards"
    }
  ]
}
{% endschema %}