{% assign sings = section.settings %}
{%- style -%}{%- endstyle -%}
<div class="collection-items-wrp">
  <div class="collection-items">
    {% if sings.title %}
      <h2 class="collection-header">{{ sings.title }}</h2>
    {% endif %}
    {% if sings.card_mobile %}
      {{ sings.card_mobile | image_url}}
    {% endif %}
    {% if sings.card_desktop %}
      {{ sings.card_desktop | image_url}}
    {% endif %}
    {% if section.settings.collection != blank %}
      {%- for product in sings.collection.products -%}
        <li id="Slide-{{ section.id }}-{{ forloop.index }}" class="product-card product-{{ product.title | handleize}}">
          {{ product.title }}
          {{ product.price }}
          {{ product.featured_image }}
        </li>
      {%- endfor -%}
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Collection Items/Cards",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Collection Name"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "header",
      "content": "Marketing Card"
    },
    {
      "type": "image_picker",
      "id": "card_mobile",
      "label": "Mobile Card"
    },
    {
      "type": "image_picker",
      "id": "card_desktop",
      "label": "Desktop Card"
    }
  ],
  "presets": [
    {
      "name": "Collection Items/Cards"
    }
  ]
}
{% endschema %}