{% assign sings = section.settings %}
{{ 'collection-pages.css' | asset_url | stylesheet_tag }}
{{ 'collection-items.css' | asset_url | stylesheet_tag }}
{%- style -%}

{%- endstyle -%}
<div class="collection-items-wrp">
  <div class="collection-items">
    {% if sings.title %}
      <h2 class="collection-header">{{ sings.title }}</h2>
    {% endif %}
    {% if sings.card_mobile %}
      {{ sings.card_mobile | image_url}}
    {% endif %}
    {% if sings.card_desktop %}
      {{ sings.card_desktop | image_url}}
    {% endif %}
    {% if section.settings.collection != blank %}
      {%- for product in sings.collection.products -%}
        <li id="Slide-{{ section.id }}-{{ forloop.index }}" class="product-card product-{{ product.title | handleize}}">
          {{ product.title }}
          {{ product.price }}
          {% if product.featured_image %}
            <img src="{{ product.featured_image }}" alt="{{ product.title }}">
          {% else %}
            <img src="{{ 'collection-product-bg.png' | file_url }}" alt="{{ product.title }}">
          {% endif %}
        </li>
      {%- endfor -%}
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Collection Items/Cards",
  "tag": "section",
  "class": "section section-collection section-collection-items",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Collection Name"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "header",
      "content": "Marketing Card"
    },
    {
      "type": "image_picker",
      "id": "card_mobile",
      "label": "Mobile Card"
    },
    {
      "type": "image_picker",
      "id": "card_desktop",
      "label": "Desktop Card"
    }
  ],
  "presets": [
    {
      "name": "Collection Items/Cards"
    }
  ]
}
{% endschema %}