{% assign sings = section.settings %}

{{ 'sctn-discover-collections.css' | asset_url | stylesheet_tag }}

<div class="discover-wrp">
  <div class="discover-collections">
    {% if sings.top_line %}
      <div class="divider-top"></div>
    {% endif %}
    <div class="section-header">
      {% if sings.title %}
        <h2 class="discover-header">{{ sings.title }}</h2>
      {% endif %}
      {% if sings.link_url %}
        <a href="{{ sings.link_url }}" 
          target="_blank" 
          rel="noopener noreferrer"
          class="btn-link btn-basic">{{ sings.link_text }}</a>
      {% endif %}
    </div>
    <ul class="discover-list-container">
      {%- for block in section.blocks -%}
        {% assign bings = block.settings %}
        <li>
          <div class="image-wrp" 
            {% if bings.collection_bg_color %}
              style="background-color:{{ bings.collection_bg_color }}"
            {% endif %}
          >
            {% if bings.collection.featured_image %}
              <img src="{{ bings.collection.featured_image | image_url }}" alt="{{ bings.collection.title }}">
            {% else %}
              <img src="{{ 'collection-product-bg.png' | file_url }}" alt="{{ bings.collection.title }}">
            {% endif %}
          </div>
          <div class="collection-info-wrp">
            <div class="collection-info">
              <h2>
                {% if bings.collection_name == blank %}
                  {{ bings.collection_name }}
                {% else %}
                  {{ bings.collection.title }}
                {% endif %}
              </h2>
              <p>
                {% if bings.collection_desc == blank %}
                  {{ bings.collection_desc | truncate: 50 | escape }}
                {% else %}
                  {{ bings.collection.description | truncate: 50 | escape }}
                {% endif %}
              </p>
            </div>
          </div>
          <div class="btn-wrp">
            <a href="{{ bings.collection.url }}" class="btn-arrow"><img src="{{ 'icon-Arrow-Right.png' | file_url }}" alt=""></a>
          </div>
        </li>
      {% endfor %}
    </ul>
   
  </div>
</div>

{% schema %}
{
  "name": "Discover Collections",
  "tag": "section",
  "class": "section section-collection section-discover-collections",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link Text",
      "default":"View All"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link URL"
    },
    {
      "type": "checkbox",
      "id": "top_line",
      "label": "Top Line Visible",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "Collection",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "collection_name",
          "label": "Collection Name Override"
        },
        {
          "type": "text",
          "id": "collection_desc",
          "label": "Collection Description Override"
        },
        {
          "type": "color",
          "id": "collection_bg_color",
          "label": "Optional Collection BG Color"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Discover Collections"
    }
  ]
}
{% endschema %}