{% assign sings = section.settings %}
{{ 'sctn-facts-background.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .divider-bar-{{ section.id }}{
    padding:100px 0;
    background:url(
     {{ sings.divider_bg_m | image_url}}
    ) center top no-repeat;
    background-size:cover;
  }
  .divider-bar-{{ section.id }} .divider-bar{
    border-top:4px solid {{ sings.divider_color }};
  }
  .divider-bar-{{ section.id }} img{
    margin:0 auto;
  }
  .divider-bar-{{ section.id }} .img-m{
    display:block;
  }
  .divider-bar-{{ section.id }} .img-d{
    display:none;
  }
  .divider-bar-{{ section.id }} h3{
    display:inline-block;
  }
  .divider-bar-{{ section.id }} h3.header-title-1{
    color:{{ sings.header_title_1_color}};
  }
  .divider-bar-{{ section.id }} h3.header-title-2{
    color:{{ sings.header_title_2_color}};
  }
  @media screen and (min-width: 640px) {
    .divider-bar-{{ section.id }}{
      background:url(
        {{ sings.divider_bg_d | image_url}}
      ) center top no-repeat;
      background-size:cover;
    }
    .divider-bar-{{ section.id }} .img-d{
      display:block;
    }
    .divider-bar-{{ section.id }} .img-m{
      display:none;
    }
  }
{%- endstyle -%}
<div class="divider-bar-wrp divider-bar-{{ section.id }}">
  <div class="tagline">
    {% if sings.image_text %}
      <img src="{{ sings.divider_bg_d | image_url }}" alt="" class="img-d">
      <img src="{{ sings.divider_bg_m | image_url }}" alt="" class="img-m">
    {% else %} 
      <h3 class="header-title-1">{{ sings.header_title_1 }}</h3>
      <h3 class="header-title-2">{{ sings.header_title_2 }}</h3>
    {% endif %} 
  </div>
  <div class="divider-bar"></div>
</div>

{% schema %}
{
  "name": "Divider Bar",
  "tag": "section",
  "class": "section divider-bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "image_text",
      "default": true,
      "label": "Image Text"
    },
    {
      "type": "image_picker",
      "id": "divider_bg_m",
      "label": "Background Image Mobile"
    },
    {
      "type": "image_picker",
      "id": "divider_bg_d",
      "label": "Background Image Desktop"
    },
    {
      "type": "color",
      "id": "divider_color",
      "label": "Divider Color"
    },
    {
      "type": "header",
      "content": "Divider Content"
    },
    {
      "type": "image_picker",
      "id": "headline_image_m",
      "label": "Headline Image Mobile"
    },
    {
      "type": "image_picker",
      "id": "headline_image_d",
      "label": "Headline Image Desktop"
    },
    {
      "type": "text",
      "id": "header_title_1",
      "label": "Title 1"
    },
    {
      "type": "color",
      "id": "header_title_1_color",
      "label": "Title 1 Color"
    },
    {
      "type": "text",
      "id": "header_title_2",
      "label": "Title 2"
    },
    {
      "type": "color",
      "id": "header_title_2_color",
      "label": "Title 2 Color"
    }
  ],
  "presets": [
    {
      "name": "Divider Bar"
    }
  ]
}
{% endschema %}