{% assign sings = section.settings %}
{{ 'collection-pages.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .facts-{{ section.id }}{
    background:url(
      {% if sings.facts_mobile_img %}
        {{ sings.facts_mobile_img | image_url}}
      {% elsif sings.facts_desktop_img%}
        {{ sings.facts_desktop_img | image_url}}
      {% endif %}
    )
   
  }
{%- endstyle -%}
<div class="facts-bg-wrp facts-{{ section.id }}">
  <div class="facts-content">
    {% if sings.facts_badge %}
      {{ sings.facts_badge | image_url}}
    {% endif %}
    {% if sings.title %}
      <h3 class="facts-header">{{ sings.title }}</h3>
    {% endif %}
    {% if sings.title %}
      <h1 class="facts-sub-header">{{ sings.facts_answer }}</h1>
    {% endif %}
    <div class="facts-copy-wrp">
      {% if sings.facts_copy %}
        <p class="facts-copy">{{ sings.facts_copy }}</p>
      {% endif %}
      {% if sings.facts_link %}
        <a href="{{ sings.facts_link }}" target="_blank" rel="noopener noreferrer" class="learn-more-link">{{ sings.facts_link_copy }}</a>
      {% endif %}
    </div>
    
    <!-- {% if sings.facts_desktop_img %}
      {{ sings.facts_desktop_img | image_url}}
    {% endif %} -->
  </div>
</div>

{% schema %}
{
  "name": "Facts w/ Background Image",
  "tag": "section",
  "class": "section section-collection",
  "settings": [
    {
      "type": "image_picker",
      "id": "facts_mobile_img",
      "label": "Facts Mobile Image"
    },
    {
      "type": "image_picker",
      "id": "facts_desktop_img",
      "label": "Facts Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "facts_badge",
      "label": "Facts Badge"
    },
    {
      "type": "header",
      "content": "Facts Content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Question/Header"
    },
    {
      "type": "text",
      "id": "facts_answer",
      "label": "Answer/Sub Header"
    },
    {
      "type": "text",
      "id": "facts_copy",
      "label": "Subtext"
    },
    {
      "type": "text",
      "id": "facts_link_copy",
      "default":"Learn More",
      "label": "Link Copy"
    },
    {
      "type": "url",
      "id": "facts_link",
      "label": "Link URL"
    }
  ],
  "presets": [
    {
      "name": "Facts w/ Background Image"
    }
  ]
}
{% endschema %}