{% assign sings = section.settings %}
{{ 'sctn-facts-background.css' | asset_url | stylesheet_tag }}
{%- style -%}
  #shopify-section-{{ section.id }}{
    padding:0;
  }
  .facts-{{ section.id }}{
    background:url(
     {{ sings.facts_mobile_img | image_url}}
    ) center top no-repeat;
    background-size:cover;
  }
  @media screen and (min-width: 640px) {
    .facts-{{ section.id }}{
      background:url(
        {{ sings.facts_desktop_img | image_url}}
      ) center top no-repeat;
      background-size:cover;
    }
  }
{%- endstyle -%}
<div class="facts-bg-wrp facts-{{ section.id }} lazyload">
  <div class="facts-content">
    {% if sings.facts_badge %}
      <img src="{{ sings.facts_badge | image_url}}" alt="A better way, a better bag." class="facts-badge lazyload">
    {% endif %}
    {% if sings.title %}
      <h3 class="facts-header" 
        {% if sings.title_color %}
          style="color:{{ sings.title_color }}"
        {% endif %}
      >{{ sings.title }}</h3>
    {% endif %}
    {% if sings.title %}
      <h1 class="facts-sub-header" 
        {% if sings.facts_answer_color %}
          style="color:{{ sings.facts_answer_color }}"
        {% endif %}
      >{{ sings.facts_answer }}</h1>
    {% endif %}
    <div class="facts-copy-wrp">
      {% if sings.facts_copy %}
        <p class="facts-copy" 
          {% if sings.facts_copy_color %}
            style="color:{{ sings.facts_copy_color }}"
          {% endif %}
        >{{ sings.facts_copy }}</p>
      {% endif %}
      {% if sings.facts_link %}
        <a href="{{ sings.facts_link }}" 
          target="_blank" 
          rel="noopener noreferrer" 
          class="learn-more-link" 
          {% if sings.facts_link_color %}
            style="color:{{ sings.facts_link_color }}"
          {% endif %}
        >{{ sings.facts_link_copy }}</a>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Facts w/ Background Image",
  "tag": "section",
  "class": "section facts-background",
  "settings": [
    {
      "type": "image_picker",
      "id": "facts_mobile_img",
      "label": "Facts Mobile Image"
    },
    {
      "type": "image_picker",
      "id": "facts_desktop_img",
      "label": "Facts Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "facts_badge",
      "label": "Facts Badge"
    },
    {
      "type": "header",
      "content": "Facts Content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Question/Header"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Question/Header color"
    },
    {
      "type": "text",
      "id": "facts_answer",
      "label": "Answer/Sub Header"
    },
    {
      "type": "color",
      "id": "facts_answer_color",
      "label": "Answer/Sub Header color"
    },
    {
      "type": "text",
      "id": "facts_copy",
      "label": "Subtext"
    },
    {
      "type": "color",
      "id": "facts_copy_color",
      "label": "Subtext color"
    },
    {
      "type": "text",
      "id": "facts_link_copy",
      "default":"Learn More",
      "label": "Link Copy"
    },
    {
      "type": "url",
      "id": "facts_link",
      "label": "Link URL"
    },
    {
      "type": "color",
      "id": "facts_link_color",
      "label": "Link copy color"
    }
  ],
  "presets": [
    {
      "name": "Facts w/ Background Image"
    }
  ]
}
{% endschema %}