{% assign sings = section.settings %}
{%- style -%}
  .faq-{{ section.id }}{
    padding:20px;
  }
  .faq-{{ section.id }} .faq-content{
    max-width:800px;
    margin:0 auto;
  }
  .faq-{{ section.id }} .faq-drpdwn{
    background-color:{{sings.faq_bg_color}};
    color:{{ sings.faq_bg_copy_color }}
  }
  @media screen and (min-width: 767px) {
    .faq-{{ section.id }}{
      
    }
  }
{%- endstyle -%}
<div class="faq-wrp faq-{{ section.id }}" id="{{ sings.title | handleize }}">
  <div class="faq-content">
    <div class="faq-header">
      <h1 style="color:{{ sings.header_title_color }}">{{ sings.title }}</h1>
    </div>
    <div class="faq-dropdowns">
      {%- for block in section.blocks -%}
        {% assign bings = block.settings %}
        <div class="faq-drpdwn">
          <div class="plus-minus">
            <span></span>
            <span></span>
          </div>
          <div class="drpdwn-content">
            <h1>{{ bings.faq_title }}</h1>
            <div class="drpdwn-copy">{{ bings.faq_copy }}</div>
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>
<script>
  $(".faq-drpdwn").on('click',function() {   
    $(this).toggleClass('active');
  });
</script>
{% schema %}
{
  "name": "FAQ Dropdowns",
  "tag": "section",
  "class": "section faq-dropdowns",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Header Text"
    },
    {
      "type": "color",
      "id": "header_title_color",
      "label": "Header Text Color",
      "default": "#065142"
    },
    {
      "type": "color",
      "id": "faq_bg_color",
      "label": "FAQ BG Color",
      "default": "#F8F0DC"
    },
    {
      "type": "color",
      "id": "faq_bg_copy_color",
      "label": "FAQ Text Color",
      "default": "#065142"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Dropdown",
      "limit": 7,
      "settings": [
        {
          "type": "text",
          "id": "faq_title",
          "label": "FAQ Question/Title"
        },
        {
          "type": "richtext",
          "id": "faq_copy",
          "label": "FAQ Answer/Copy"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQ Dropdowns"
    }
  ]
}
{% endschema %}