{% assign sings = section.settings %}
{%- style -%}
  .faq-{{ section.id }}{
    padding:20px;
  }
  .faq-{{ section.id }} .faq-content{
    max-width:800px;
    margin:0 auto;
  }
  .faq-{{ section.id }} h1,
  .faq-{{ section.id }} p{
    line-height: 1;
    letter-spacing: 0;
  }
  .faq-{{ section.id }} .faq-header{
    margin-bottom: 20px;
  }
  .faq-{{ section.id }} .faq-header h1{
    font-size:25px;
    text-transform: uppercase;
  }
  .faq-{{ section.id }} .drpdwn-content {
    width: 100%;
    margin-left: 10px;
  }
  .faq-{{ section.id }} .plus-minus {
    width: 40px;
    height: 40px;
    position: relative;
  }
  .faq-{{ section.id }} .plus-minus span{
    border-bottom: 3px solid green;
    width: 20px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  .faq-{{ section.id }} .plus-minus span.first-line{
    top: 20px;
    left: 7px;
  }
  .faq-{{ section.id }} .plus-minus span.second-line{
    transform:rotate(90deg);
    top: 20px;
    left: 7px;
  }
  .faq-{{ section.id }} .faq-drpdwn{
    background-color:{{sings.faq_bg_color}};
    color:{{ sings.faq_bg_copy_color }};
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 15px;
    cursor: pointer;
  }
  .faq-{{ section.id }} .faq-drpdwn.active .second-line{
    display:none;
  }
  .faq-{{ section.id }} .drpdwn-title {
    font-size:16px;
    text-transform: uppercase;
    min-height: 40px;
    align-items: center;
    justify-content: flex-start;
    display: flex;
  }
  .faq-{{ section.id }} .drpdwn-copy {
    margin-top: 15px;
    display: none;
  }
  .faq-{{ section.id }} .drpdwn-copy p{
    line-height: 1.4;
  }
  @media screen and (min-width: 640px) {
    .faq-{{ section.id }} .faq-header h1{
      font-size:35px;
    }
    .faq-{{ section.id }} .drpdwn-title {
      font-size:20px;
    }
  }
{%- endstyle -%}
<div class="faq-wrp faq-{{ section.id }}" id="{{ sings.title | handleize }}">
  <div class="faq-content">
    <div class="faq-header">
      <h1 style="color:{{ sings.header_title_color }}">{{ sings.title }}</h1>
    </div>
    <div class="faq-drpdwns-wrp">
      {%- for block in section.blocks -%}
        {% assign bings = block.settings %}
        <div class="faq-drpdwn">
          <div class="plus-minus">
            <span class="first-line"></span>
            <span class="second-line"></span>
          </div>
          <div class="drpdwn-content">
            <h1 class="drpdwn-title">{{ bings.faq_title }}</h1>
            <div class="drpdwn-copy">{{ bings.faq_copy }}</div>
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>
<script>
  $(".faq-drpdwn").on('click',function(e) {   
    e.stopPropagation();
    $(this).toggleClass('active');
    $(this).find('.drpdwn-copy').slideToggle();
  });
</script>
{% schema %}
{
  "name": "FAQ Dropdowns",
  "tag": "section",
  "class": "section faq-dropdowns",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Header Text"
    },
    {
      "type": "color",
      "id": "header_title_color",
      "label": "Header Text Color",
      "default": "#065142"
    },
    {
      "type": "color",
      "id": "faq_bg_color",
      "label": "FAQ BG Color",
      "default": "#F8F0DC"
    },
    {
      "type": "color",
      "id": "faq_bg_copy_color",
      "label": "FAQ Text Color",
      "default": "#065142"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Dropdown",
      "limit": 7,
      "settings": [
        {
          "type": "text",
          "id": "faq_title",
          "label": "FAQ Question/Title"
        },
        {
          "type": "richtext",
          "id": "faq_copy",
          "label": "FAQ Answer/Copy"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQ Dropdowns"
    }
  ]
}
{% endschema %}


