{% assign sings = section.settings %}
{%- style -%}
  .takeaways-{{ section.id }} .takeaways{
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
  }
  .takeaways-{{ section.id }} .content-wrp{
    border-bottom: 1px solid #065142;
  }
  .takeaways-{{ section.id }} .takeaways .takeaway {
    margin-bottom: 30px;
  }
  .takeaways-{{ section.id }} .takeaways .takeaway:last-child{
    margin-bottom:0;
  }
  .takeaways-{{ section.id }} .takeaways .takeaway h1{
    line-height: 1;
    font-size: 22px;
    text-transform: uppercase;
    border-bottom: 1px solid #065142;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  .takeaways-{{ section.id }} .takeaways .takeaway p{
    letter-spacing: 0;
    line-height: 1.4;
    font-size:12px;
  }
  @media screen and (min-width: 640px) {
    .takeaways-{{ section.id }} .takeaways{
      display: flex;
      justify-content: space-between;
    }
    .takeaways-{{ section.id }} .takeaways .takeaway{
      font-size: 25px;
      margin-bottom:0;
    }
    .takeaways-{{ section.id }} .takeaways .takeaway:nth-child(2) {
      margin: 0 30px;
    }
    .takeaways-{{ section.id }} .takeaways .takeaway p{
      font-size:14px;
    }
  }
{%- endstyle -%}

<div class="takeaways-{{ section.id }}">
  <div class="content-wrp">
    <div class="takeaways">
      {%- for block in section.blocks -%}
        {% assign bings = block.settings %}
        <div class="takeaway">
          <h1>Takeaway {{ forloop.index }}</h1>
          <p>{{ bings.takeaway_copy }}</p>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Guides - Takeaway",
  "tag": "section",
  "class": "section takeaway",
  "settings": [],
  "blocks": [
    {
      "type": "text",
      "name": "Takeaway",
      "settings": [
        {
          "type": "text",
          "id": "takeaway_copy",
          "label": "Takeaway Copy"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Guides - Takeaway"
    }
  ]
}
{% endschema %}