{% assign sings = section.settings %}

{%- style -%}
  .guides-content-{{ section.id }}{
    display: flex;
    flex-direction: column;
  }
  .guides-content-{{ section.id }} .content{
    padding: 40px 30px;
  }
  .guides-content-{{ section.id }} .header-content h1{
    color:{{ sings.title_color }};
    font-size:50px;
    letter-spacing: 0;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .guides-content-{{ section.id }} .copy-wrp {
    margin-bottom: 30px;
  }
  .guides-content-{{ section.id }} .copy-wrp h2 {
    font-size: 25px;
    letter-spacing: 0;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 20px;
  }
  .guides-content-{{ section.id }} .copy-wrp p {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  .guides-content-{{ section.id }} .copy-wrp img {
    max-width:100%;
  }
  .guides-content-{{ section.id }} .side-notes {
    display: flex;
    flex-direction: column;
  }
  .guides-content-{{ section.id }} .side-notes h1 {
    text-transform: uppercase;
    letter-spacing: 0;
    line-height: 1;
    margin-bottom: 20px;
    font-size: 25px;
  }
  .guides-content-{{ section.id }} .good-news-wrp,
  .guides-content-{{ section.id }} .sources-wrp {
    border-top: 1px solid #065142;
    padding: 40px 30px;
    padding-top: 50px;
  }
  .guides-content-{{ section.id }} .good-news,
  .guides-content-{{ section.id }} .sources {
    max-width: 375px;
  }

  
  .guides-content-{{ section.id }} .good-news a{
    padding: 20px;
    display: block;
    text-decoration: none;
    background-color: #EFFCF6;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .guides-content-{{ section.id }} .good-news a h3,
  .guides-content-{{ section.id }} .good-news a p,
  .guides-content-{{ section.id }} .sources p{
    letter-spacing: 0;
  }
  .guides-content-{{ section.id }} .good-news a h3{
    font-size: 22px;
    text-transform: uppercase;
    line-height: 1.3;
  }
  .guides-content-{{ section.id }} .good-news a p{
    line-height: 1.5;
    font-size: 12px;
    margin-top: 5px;
  }
  .guides-content-{{ section.id }} .sources p{
    letter-spacing: 0;
    font-style: italic;
    margin-bottom: 15px;
    line-height: 1.4;
  }

  @media screen and (min-width: 640px) {

  }
  @media screen and (min-width: 767px) {
    .guides-content-{{ section.id }} .side-notes {
      flex-direction: row;
    }
  }
  @media screen and (min-width: 900px) {
    .guides-content-{{ section.id }} .content-wrp {
      display: flex;
      max-width: 1200px;
      margin: 0 auto;
    }
    .guides-content-{{ section.id }} .side-notes {
      flex-direction: column;
      flex: 0 0 375px;
      border-left: 1px solid #065142;
    }
    .guides-content-{{ section.id }} .good-news-wrp{
      border:none;
    }
  }
  @media screen and (min-width: 1000px) {
    
  }
{%- endstyle -%}

<div class="guides-content-{{ section.id }}">
  <div class="content-wrp">
    <div class="content">
      <div class="header-wrp">
        <div class="header-content">
          <h1>{{ sings.title }}</h1>
          {% if sings.header_copy %}
            <p>{{ sings.header_copy }}</p>
          {% endif %}
        </div>
      </div>
      <div class="copy-snippets">
        {%- for block in section.blocks -%}
          {% assign bings = block.settings %}
          <div class="copy-wrp">
            <h2>{{ bings.section_title }}</h2>
            {{ bings.section_copy }}
            {% if bings.section_image %}
              <div class="img-wrp">
                <img data-src="{{ bings.section_image | image_url }}" class="lazyload" alt="{{ bings.section_title }}">
              </div>
            {% endif %}
          </div>
        {%- endfor -%}
        {% if sings.share_link %}
          <a href="{{ sings.share_link }}"><img src="{{ 'icon-Share-circle.png' | file_url }}" alt="">Share</a>
        {% endif %}
      </div>
    </div>
    <div class="side-notes">
      <div class="good-news-wrp">
        <div class="good-news">
          <h1>Good news</h1>
          {% if sings.good_news_1_url %}
          <a href="{{sings.good_news_1_url}}">
            <h3>{{ sings.good_news_1_title }}</h3>
            <p>{{ sings.good_news_1_copy }}</p>
          </a>
          {% endif %}
          {% if sings.good_news_2_url %}
          <a href="{{sings.good_news_2_url}}">
            <h3>{{ sings.good_news_2_title }}</h3>
            <p>{{ sings.good_news_2_copy }}</p>
          </a>
          {% endif %}
          {% if sings.good_news_3_url %}
          <a href="{{sings.good_news_3_url}}">
            <h3>{{ sings.good_news_3_title }}</h3>
            <p>{{ sings.good_news_3_copy }}</p>
          </a>
          {% endif %}
        </div>
      </div>
      {% if sings.sources %}
        <div class="sources-wrp">
          <div class="sources">
            <h1>Sources</h1>
            {{ sings.sources }}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Guides - Content",
  "tag": "section",
  "class": "section what-to-content",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Section Header"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title Color",
      "default":"#00FABE"
    },
    {
      "type": "text",
      "id": "header_copy",
      "label": "Section Header Copy"
    },
    {
      "type": "color",
      "id": "header_copy_color",
      "label": "Header Copy Color",
      "default":"#065142"
    },
    {
      "type": "url",
      "id": "share_link",
      "label": "Share link"
    },
    {
      "type": "header",
      "content": "Good News Content"
    },
    {
      "type": "text",
      "id": "good_news_1_title",
      "label": "Good News 1 - Title"
    },
    {
      "type": "text",
      "id": "good_news_1_copy",
      "label": "Good News 1 - Copy"
    },
    {
      "type": "url",
      "id": "good_news_1_url",
      "label": "Good News 1 - URL"
    },
    {
      "type": "text",
      "id": "good_news_2_title",
      "label": "Good News 2 - Title"
    },
    {
      "type": "text",
      "id": "good_news_2_copy",
      "label": "Good News 2 - Copy"
    },
    {
      "type": "url",
      "id": "good_news_2_url",
      "label": "Good News 2 - URL"
    },
    {
      "type": "text",
      "id": "good_news_3_title",
      "label": "Good News 3 - Title"
    },
    {
      "type": "text",
      "id": "good_news_3_copy",
      "label": "Good News 3 - Copy"
    },
    {
      "type": "url",
      "id": "good_news_3_url",
      "label": "Good News 3 - URL"
    },
    {
      "type": "header",
      "content": "Sources Content"
    },
    {
      "type": "richtext",
      "id": "sources",
      "label": "Sources"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Copy Blocks",
      "settings": [
        
        {
          "type": "text",
          "id": "section_title",
          "label": "Block Title"
        },
        {
          "type": "richtext",
          "id": "section_copy",
          "label": "Block Copy"
        },
        {
          "type": "image_picker",
          "id": "section_image",
          "label": "Block Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Guides - Content"
    }
  ]
}
{% endschema %}