{% assign sings = section.settings %}

{%- style -%}
  

  @media screen and (min-width: 640px) {

  }
  @media screen and (min-width: 767px) {

  }
  @media screen and (min-width: 950px) {

  }
  @media screen and (min-width: 1000px) {
    
  }
{%- endstyle -%}

<div class="what-to-{{ section.id }}" {% if sings.id_anchor %}id="{{sings.id_anchor}}"{% endif %}>
  <div class="content-wrp">
    <div class="content">
      <div class="header-wrp">
        <div class="header-content">
          <h1>{{ sings.title }}</h1>
          {% if sings.header_copy %}
            <p>{{ sings.header_copy }}</p>
          {% endif %}
        </div>
      </div>
      <div class="copy-snippets">
        {%- for block in section.blocks -%}
          {% assign bings = block.settings %}
          <div class="copy-wrp">
            <h2>{{ bings.section_title }}</h2>
            {{ bings.section_copy }}
            {% if bings.section_image %}
              <div class="img-wrp">
                <img data-src="{{ bings.section_image | image_url }}" class="lazyload" alt="{{ bings.section_title }}">
              </div>
            {% endif %}
          </div>
        {%- endfor -%}
      </div>
    </div>
    <div class="side-notes">
      <div class="good-news">
        {% if sings.good_news_1_url %}
          <a href="{{sings.good_news_1_url}}">
            <h3>{{ sings.good_news_1_title }}</h3>
            <p>{{ sings.good_news_1_copy }}</p>
          </a>
        {% endif %}
        {% if sings.good_news_2_url %}
          <a href="{{sings.good_news_2_url}}">
            <h3>{{ sings.good_news_2_title }}</h3>
            <p>{{ sings.good_news_2_copy }}</p>
          </a>
        {% endif %}
        {% if sings.good_news_3_url %}
          <a href="{{sings.good_news_3_url}}">
            <h3>{{ sings.good_news_3_title }}</h3>
            <p>{{ sings.good_news_3_copy }}</p>
          </a>
        {% endif %}
      </div>
      {% if sings.sources %}
        <div class="sources">
          <h3>Sources</h3>
          {{ sings.sources }}
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Guides - Content",
  "tag": "section",
  "class": "section what-to-content",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Section Header"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title Color",
      "default":"#00FABE"
    },
    {
      "type": "text",
      "id": "header_copy",
      "label": "Section Header Copy"
    },
    {
      "type": "color",
      "id": "header_copy_color",
      "label": "Header Copy Color",
      "default":"#065142"
    },
    {
      "type": "header",
      "content": "Good News Content"
    },
    {
      "type": "text",
      "id": "good_news_1_title",
      "label": "Good News 1 - Title"
    },
    {
      "type": "text",
      "id": "good_news_1_copy",
      "label": "Good News 1 - Copy"
    },
    {
      "type": "url",
      "id": "good_news_1_url",
      "label": "Good News 1 - URL"
    },
    {
      "type": "text",
      "id": "good_news_2_title",
      "label": "Good News 2 - Title"
    },
    {
      "type": "text",
      "id": "good_news_2_copy",
      "label": "Good News 2 - Copy"
    },
    {
      "type": "url",
      "id": "good_news_2_url",
      "label": "Good News 2 - URL"
    },
    {
      "type": "text",
      "id": "good_news_3_title",
      "label": "Good News 3 - Title"
    },
    {
      "type": "text",
      "id": "good_news_3_copy",
      "label": "Good News 3 - Copy"
    },
    {
      "type": "url",
      "id": "good_news_3_url",
      "label": "Good News 3 - URL"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Copy Blocks",
      "settings": [
        
        {
          "type": "text",
          "id": "section_title",
          "label": "Block Title"
        },
        {
          "type": "richtext",
          "id": "section_copy",
          "label": "Block Copy"
        },
        {
          "type": "image_picker",
          "id": "section_image",
          "label": "Block Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Guides - Content"
    }
  ]
}
{% endschema %}