{% assign sings = section.settings %}
{%- style -%}
  
  .policies-{{ section.id }} .policies-content {
    padding: 70px 30px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .policies-{{ section.id }} .title-header h1 {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 0;
    margin: 0;
  }
  .policies-{{ section.id }} .policy-content {
    margin-top:50px;
  }
  .policies-{{ section.id }} .policy-content h1,
  .policies-{{ section.id }} .policy-content h2,
  .policies-{{ section.id }} .policy-content h3,
  .policies-{{ section.id }} .policy-content h4,
  .policies-{{ section.id }} .policy-content h5{
    margin-bottom:10px;
  }
  .policies-{{ section.id }} .policy-content h1,
  .policies-{{ section.id }} .policy-content h1 b,
  .policies-{{ section.id }} .policy-content h2,
  .policies-{{ section.id }} .policy-content h2 b,
  .policies-{{ section.id }} .policy-content h3,
  .policies-{{ section.id }} .policy-content h3 b,
  .policies-{{ section.id }} .policy-content h4,
  .policies-{{ section.id }} .policy-content h4 b,
  .policies-{{ section.id }} .policy-content h5,
  .policies-{{ section.id }} .policy-content h5 b
  {
    font-family:'Korolev-Heavy';
    font-size:20px;
  }
  .policies-{{ section.id }} .policy-content strong
  {
    font-family:'Korolev-Heavy';
  }

  .policies-{{ section.id }} p {
    margin-bottom:10px;
  }

  @media screen and (min-width: 767px) {
    .policies-{{ section.id }} .policies-content {
      padding: 100px 30px;
      flex-direction: row;
    }
    .policies-{{ section.id }} .title-header,
    .policies-{{ section.id }} .policy-content{
      width:50%;
    }
    .policies-{{ section.id }} .policy-content {
      margin-top: 100px;
    }
  }
  @media screen and (min-width: 1000px) {
    .policies-{{ section.id }} .title-header{
      width:40%;
    }
    .policies-{{ section.id }} .policy-content{
      width:60%;
    }
  }
{%- endstyle -%}
<div class="policies-wrp policies-{{ section.id }}">
  <div class="policies-content">
    <div class="title-header">
      <h1>
        {%- if section.settings.page.title != blank -%}
          {{ section.settings.page.title | escape }}
        {%- else -%}
          {{ 'sections.page.title' | t }}
        {%- endif -%}
      </h1>
    </div>
    <div class="policy-content">
      {%- if section.settings.page.content != blank -%}
        {{ section.settings.page.content }}
      {%- else -%}
        <p>No content available.</p>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Policies",
  "tag": "section",
  "class": "section section-policies",
  "settings": [
    {
      "type": "page",
      "id": "page",
      "label": "t:sections.page.settings.page.label"
    }
  ],
  "presets": [
    {
      "name": "Policies"
    }
  ]
}
{% endschema %}