{% assign sings = section.settings %}
{%- style -%}
  
  .policies-{{ section.id }} .policies-content {
    padding: 70px 30px;
  }
  .policies-{{ section.id }} .title-header h1 {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 0;
    margin: 0;
  }
  .policies-{{ section.id }} .policy-content {
    margin-top:50px;
  }
  .policies-{{ section.id }} strong {
    font-family:'Korolev-Heavy';
  }
  
  .policies-{{ section.id }} p {
    margin-bottom:10px;
  }

  @media screen and (min-width: 767px) {
    .policies-{{ section.id }} .policies-content {
      padding: 100px 30px;
    }
  }
{%- endstyle -%}
<div class="policies-wrp policies-{{ section.id }}">
  <div class="policies-content">
    <div class="title-header">
      <h1>{{ sings.title }}</h1>
      {% if sings.title_subtext %}
        <p>{{ sings.title_subtext }}</p>
      {% endif %}
    </div>
    <div class="policy-content">
      {{ sings.policy_copy }}
      {{page.description}}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Policies",
  "tag": "section",
  "class": "section section-policies",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Policy Title"
    },
    {
      "type": "text",
      "id": "title_subtext",
      "label": "Policy Title Subtext"
    },
    {
      "type": "richtext",
      "id": "policy_copy",
      "label": "Policy Copy"
    }
  ],
  "presets": [
    {
      "name": "Policies"
    }
  ]
}
{% endschema %}