{% liquid 
  assign sings = section.settings
  assign gallon = product.metafields.product_info.gallons.value 
  assign count = product.metafields.product_info.count.value 
  assign numItems = product.metafields.product_info.numItems.value 
  %}
{{ 'sctn-product-custom.css' | asset_url | stylesheet_tag }}

{%- style -%}
  
  .product-info-wrp .gallery-image-1{
    background:url("{{ sings.product_image_1 | image_url }}")center top no-repeat;
    background-size:cover;
  }
  .product-info-wrp .gallery-image-2{
    background:url("{{ sings.product_image_2 | image_url }}")center top no-repeat;
    background-size:cover;
  }
  .product-info-wrp .gallery-image-3{
    background:url("{{ sings.product_image_3 | image_url }}")center top no-repeat;
    background-size:cover;
  }
  .product-info-wrp .gallery-image-4{
    background:url("{{ sings.product_image_4 | image_url }}")center top no-repeat;
    background-size:cover;
  }
{%- endstyle -%}

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

<div class="product-info-wrp">
  <div class="product-info-content">
    <div class="product-gallery">
      <div class="gallery-images-1-3">
        <div class="gallery-images-1-2">
          <div class="gallery-image-1"></div>
          <div class="gallery-image-2"></div>
        </div>
        <div class="gallery-image-3"></div>
      </div>
      <div class="gallery-image-4"></div>
    </div>
    <div class="product-breakdown">
      <div id="ProductInfo-{{ section.id }}" class="product__info-container">
      {%- assign product_form_id = 'product-form-' | append: section.id -%}
        {%- if product.metafields.reviews.rating.value != blank -%}
          {% liquid
            assign rating_decimal = 0
            assign decimal = product.metafields.reviews.rating.value.rating | modulo: 1
            if decimal >= 0.3 and decimal <= 0.7
              assign rating_decimal = 0.5
            elsif decimal > 0.7
              assign rating_decimal = 1
            endif
          %}
          <div class="rating" role="img" aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: product.metafields.reviews.rating.value, rating_max: product.metafields.reviews.rating.value.scale_max }}">
            <span aria-hidden="true" class="rating-star color-icon-{{ settings.accent_icons }}" style="--rating: {{ product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};"></span>
          </div>
          <p class="rating-text caption">
            <span aria-hidden="true">{{ product.metafields.reviews.rating.value }} / {{ product.metafields.reviews.rating.value.scale_max }}</span>
          </p>
          <p class="rating-count caption">
            <span aria-hidden="true">({{ product.metafields.reviews.rating_count }})</span>
            <span class="visually-hidden">{{ product.metafields.reviews.rating_count }} {{ "accessibility.total_reviews" | t }}</span>
          </p>
        {%- endif -%}
        <h1 class="prod-title">
          {% if sings.product_title_custom  == '' %}
            {{ product.title }}
          {% else %}
            {{ sings.product_title_custom }}
          {% endif %}
        </h1>
        {% if gallon or count or numItems %}  
          <div class="prod-counts">
            {% if gallon %}
              <p class="prod-gallon"><strong>{{ gallon }}</strong> gallon</p>
            {% endif %}
            {% if count %}
              <p class="prod-box"><strong>{{ count }}</strong> bags/box</p>
            {% endif %}
            {% if numItems %}
              <p class="prod-num-items"><strong>{{ numItems }}</strong> item(s)</p>
            {% endif %}
          </div>
        {% endif %}
        <p class="prod-desc">
          <!-- <span class="snipped active">
            {% if sings.product_description_custom  == '' %}
              {{ product.description | truncate: 100 }}
            {% else %}
              {{ sings.product_description_custom | truncate: 100 }}
            {% endif %}
          </span> -->
          <span class="full-copy">
            {% if sings.product_description_custom  == '' %}
              {{ product.description }}
            {% else %}
              {{ sings.product_description_custom }}
            {% endif %}
          </span>
          <!-- <span class="learn-more-btn">Learn more</span> -->
        </p>
        {%- unless product.has_only_default_variant -%}
          <variant-radios class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
            {%- for option in product.options_with_values -%}
                <fieldset class="js product-form__input">
                  <legend class="form__label">{{ option.name }}</legend>
                  {%- for value in option.values -%}
                    <input type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                          name="{{ option.name }}"
                          value="{{ value | escape }}"
                          form="{{ product_form_id }}"
                          {% if option.selected_value == value %}checked{% endif %}
                    >
                    <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
                      {{ value }}
                    </label>
                  {%- endfor -%}
                </fieldset>
            {%- endfor -%}
            <script type="application/json">
              {{ product.variants | json }}
            </script>
          </variant-radios>
        {%- endunless -%}
        {% if product.tags contains 'Sets' %}
          <div class="set-price-wrp">
            <div class="set-info">
              <h3>
                {% if sings.set_description %}  
                  {{ sings.set_description }}
                {% else %}
                  Buy Set
                {% endif %}
              </h3>
            </div>
            <div class="prices">
              {% if product.compared_at_price %}   
                <div class="original-price">
                  <strike>
                    {{ product.compared_at_price | money }}
                  </strike>
                </div>
              {% endif %}
              <div class="regular-price">
                {{ product.price | money }}
              </div>
            </div>
          </div>
        {% endif %}
        {%- for block in section.blocks -%}
          {%- case block.type -%}
          {%- when '@app' -%}
          {% render block %}
          {%endcase%}
        {% endfor %}

        <div class="submit-selection-wrp">
          <div class="product-form__input product-form__quantity{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} product-form__quantity-top{% endif %}" {{ block.shopify_attributes }}>
            <quantity-input class="quantity">
              <button class="quantity__button no-js-hidden" name="minus" type="button">
                <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
                {% render 'icon-minus' %}
              </button>
              <input class="quantity__input"
                  type="number"
                  name="quantity"
                  id="Quantity-{{ section.id }}"
                  min="1"
                  value="1"
                  form="{{ product_form_id }}"
                >
              <button class="quantity__button no-js-hidden" name="plus" type="button">
                <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
                {% render 'icon-plus' %}
              </button>
            </quantity-input>
          </div>
          <product-form class="product-form">
            <div class="product-form__error-message-wrapper" role="alert" hidden>
              <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
              </svg>
              <span class="product-form__error-message"></span>
            </div>

            {%- form 'product', product, data-productid: product.id, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
              <input type="hidden" name="id" data-productid="{{ product.id }}" value="{{ product.selected_or_first_available_variant.id }}" disabled>
              <div class="product-form__buttons">
                <button
                  type="submit"
                  name="add"
                  class="product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
                {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                >
                    <span>
                      {%- if product.selected_or_first_available_variant.available -%}
                        {{ 'products.product.add_to_cart' | t }}
                      {%- else -%}
                        {{ 'products.product.sold_out' | t }}
                      {%- endif -%}
                    </span>
                    <div class="loading-overlay__spinner hidden">
                      <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                        <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                      </svg>
                    </div>
                </button>
                {%- if block.settings.show_dynamic_checkout -%}
                  {{ form | payment_button }}
                {%- endif -%}
              </div>
            {%- endform -%}
          </product-form>

        </div>
        
        <div class="product-details-wrp">
          {% if sings.product_details %}
            <div class="product-details">
              <div class="details-header">
                <h4>Product Details</h4>
                <img src="{{ 'icon-Arrow-Down.png' | file_url }}" class="icon-product-details">
              </div>
              <div class="details-copy">
                {{ sings.product_details }}
              </div>
            </div>
          {% endif %}
          {% if sings.materials_list %}  
            <div class="product-details">
              <div class="details-header">
                <h4>Materials</h4>
                <img src="{{ 'icon-Arrow-Down.png' | file_url }}" class="icon-product-details">
              </div>
              <div class="details-copy">
                {{ sings.materials_list }}
              </div>
            </div>
          {% endif %}
          {% if sings.how_to_use %}  
            <div class="product-details">
              <div class="details-header">
                <h4>How To Use</h4>
                <img src="{{ 'icon-Arrow-Down.png' | file_url }}" class="icon-product-details">
              </div>
              <div class="details-copy">
                {{ sings.how_to_use }}
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <section class="page-width section-{{ section.id }}-padding">
  <div class="product product--{{ section.settings.media_size }} product--{{ section.settings.gallery_layout }} grid grid--1-col {% if product.media.size > 0 %}grid--2-col-tablet{% else %}product--no-media{% endif %}">
    <div class="grid__item product__media-wrapper">
      <media-gallery id="MediaGallery-{{ section.id }}" role="region" {% if section.settings.enable_sticky_info %}class="product__media-gallery"{% endif %} aria-label="{{ 'products.product.media.gallery_viewer' | t }}" data-desktop-layout="{{ section.settings.gallery_layout }}">
        <div id="GalleryStatus-{{ section.id }}" class="visually-hidden" role="status"></div>
        <slider-component id="GalleryViewer-{{ section.id }}" class="slider-mobile-gutter">
          <ul id="Slider-Gallery-{{ section.id }}" class="product__media-list grid grid--peek list-unstyled slider slider--mobile" role="list">
            <li id="Slide-{{ section.id }}-{{ featured_media.id }}" 
              class="product__media-item grid__item slider__slide is-active" 
              data-media-id="{{ section.id }}-{{ featured_media.id }}">
              Item 1
            </li>
            <li id="Slide-{{ section.id }}-{{ featured_media.id }}" 
              class="product__media-item grid__item slider__slide" 
              data-media-id="{{ section.id }}-{{ featured_media.id }}">
              Item 2
            </li>
            <li id="Slide-{{ section.id }}-{{ featured_media.id }}" 
              class="product__media-item grid__item slider__slide" 
              data-media-id="{{ section.id }}-{{ featured_media.id }}">
              Item 3
            </li>
            <li id="Slide-{{ section.id }}-{{ featured_media.id }}" 
              class="product__media-item grid__item slider__slide" 
              data-media-id="{{ section.id }}-{{ featured_media.id }}">
              Item 4
            </li>
          </ul>
          <div class="slider-buttons no-js-hidden">
            <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'general.slider.previous_slide' | t }}">{% render 'icon-caret' %}</button>
            <div class="slider-counter caption">
              <span class="slider-counter--current">1</span>
              <span aria-hidden="true"> / </span>
              <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
              <span class="slider-counter--total">{{ media_count }}</span>
            </div>
            <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'general.slider.next_slide' | t }}">{% render 'icon-caret' %}</button>
          </div>
        </slider-component>
      </media-gallery>
    </div>
  </div>
</section> -->

{% if product.media.size > 0 %}
  <script src="{{ 'media-gallery.js' | asset_url }}" defer="defer"></script>
{% endif %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return (msie > 0 || trident > 0);
    }

    if (!isIE()) return;
    const hiddenInput = document.querySelector('#{{ product_form_id }} input[name="id" data-productid="{{ product.id }}"]');
    const noScriptInputWrapper = document.createElement('div');
    const variantSwitcher = document.querySelector('variant-radios[data-section="{{ section.id }}"]') || document.querySelector('variant-selects[data-section="{{ section.id }}"]');
    noScriptInputWrapper.innerHTML = document.querySelector('.product-form__noscript-wrapper-{{ section.id }}').textContent;
    variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;

    document.querySelector('#Variants-{{ section.id }}').addEventListener('change', function(event) {
      hiddenInput.value = event.currentTarget.value;
    });
  });
  $('.product-details-wrp .product-details').on('click', function(){
    $(this).toggleClass('active');
    $(this).find('.details-copy').slideToggle();
  });

  const container = document.querySelector('div[data-v-app]');
  setTimeout(() => {
    const div = document.querySelector('.subscription-radio .discount-label');
    const percentage = Math.floor(parseFloat(div.innerText.replace(/[^\d.]/g, '')));
    div.innerHTML = `Subscribe & save ${ percentage }%`;
  }, 700)

  const observer = new MutationObserver((mutations, obs) => {
    const rcWidget = document.querySelector('.rc-widget');
    if (rcWidget) {
      obs.disconnect();
      return;
    }
  });

  observer.observe(document, {
    childList: true,
    subtree: true
  });
</script>

{%- liquid
  if product.selected_or_first_available_variant.featured_media
    assign seo_media = product.selected_or_first_available_variant.featured_media
  else
    assign seo_media = product.featured_media
  endif
-%}

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ request.origin | append: product.url | json }},
    {% if seo_media -%}
      {%- assign media_size = seo_media.preview_image.width | append: 'x' -%}
      "image": [
        {{ seo_media | img_url: media_size | prepend: "https:" | json }}
      ],
    {%- endif %}
    "description": {{ product.description | strip_html | json }},
    {% if product.selected_or_first_available_variant.sku != blank -%}
      "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif %}
    "brand": {
      "@type": "Thing",
      "name": {{ product.vendor | json }}
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "url" : {{ request.origin | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>

{% schema %}
{
  "name": "Product Info - Custom",
  "tag": "section",
  "class": "section section-product-custom",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "custom_liquid",
      "name": "t:sections.main-product.blocks.custom_liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.label",
          "info": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.info"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Gallery Settings"
    },
    {
      "type": "checkbox",
      "id": "mobile_carousel_enabled",
      "default": true,
      "label": "Mobile carousel enabled"
    },
    {
      "type": "image_picker",
      "id": "product_image_1",
      "label": "Image 1"
    },
    {
      "type": "image_picker",
      "id": "product_image_2",
      "label": "Image 2"
    },
    {
      "type": "image_picker",
      "id": "product_image_3",
      "label": "Image 3"
    },
    {
      "type": "image_picker",
      "id": "product_image_4",
      "label": "Image 4"
    },
    {
      "type": "header",
      "content": "Product Info"
    },
    {
      "type": "richtext",
      "id": "product_details",
      "label": "Product Details"
    },
    {
      "type": "richtext",
      "id": "materials_list",
      "label": "Materials Info"
    },
    {
      "type": "richtext",
      "id": "how_to_use",
      "label": "How to Use"
    },
    {
      "type": "text",
      "id": "product_title_custom",
      "label": "Product Title Override"
    },
    {
      "type": "text",
      "id": "product_description_custom",
      "label": "Product Description Override"
    },
    {
      "type": "text",
      "id": "set_description",
      "label": "Set Description"
    }
  ],
  "presets": [
    {
      "name": "Product Info - Custom"
    }
  ]
}
{% endschema %}
