{% assign sings = section.settings %}
{{ 'sctn-product-benefits.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .product-benefits-{{ section.id }}{
    background-color:{{ sings.bnfts_bg_color }};
  }
  .product-benefits-{{ section.id }} .benefits-image{
    background:url({{ sings.bnfts_main_img | image_url }}) center top no-repeat;
    background-size:contain;
  }
  @media screen and (min-width: 767px) {
    .prod-benefits-full .product-benefits-{{ section.id }} .benefits-image{
      background:url({{ sings.bnfts_main_img | image_url }}) left center no-repeat;
      background-size:contain;
    }
  }
{%- endstyle -%}
<div class="product-benefits-wrp product-benefits-{{ section.id }}">
  <div class="product-benefits">
    <div class="benefits-wrp">
      <div class="benefits-breakdown">
        <div class="breakdown-header">
          <h2>{{ sings.brkdwn_title }}</h2>
          <p>{{ sings.brkdwn_title_copy }}</p>
        </div>
        <div class="breakdown-list">
          {% for block in section.blocks %}
            {% assign bings = block.settings %}
            <div class="breakdown-item">
              <div class="breakdown-item-header">
                <h4>{{ bings.bnft_title }}</h4>
                <div class="carrot-wrp">
                  <img src="{{ 'icon-Arrow-Down.png' | file_url }}" class="carrot-down lazyload">
                  <img src="{{ 'icon-Arrow-Up.png' | file_url }}" class="carrot-up lazyload">
                </div>
              </div>
              <p>{{ bings.bnft_copy }}</p>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="benefits-image"></div>
    </div>
  </div>
</div>
{% javascript %}
  let breakDownItem = document.querySelectorAll(".breakdown-item");
  for (let i = 0; i < breakDownItem.length; i++) {
    breakDownItem[i].onclick = function(e) {
      if(e.currentTarget.classList.contains('active')){
        e.currentTarget.classList.remove('active');
      } else { 
        [].forEach.call(breakDownItem, function(el) {
          el.classList.remove("active");
        });
        e.currentTarget.classList.toggle('active');
      }
    }
  }
{% endjavascript %}
<!-- #EFFCF6 -->
{% schema %}
{
  "name": "Product Benefits - Full",
  "tag": "section",
  "class": "section product-benefits prod-benefits-full",
  "settings": [
    {
      "type": "color",
      "id": "bnfts_bg_color",
      "label": "Section Background Color"
    },
    {
      "type": "header",
      "content": "Benefits Content"
    },
    {
      "type": "text",
      "id": "brkdwn_title",
      "label": "Benefits Breakdown Title"
    },
    {
      "type": "text",
      "id": "brkdwn_title_copy",
      "label": "Benefits Breakdown Title Copy"
    },
    {
      "type": "image_picker",
      "id": "bnfts_main_img",
      "label": "Main Image"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Benefit",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "bnft_title",
          "label": "Benefit Title"
        },
        {
          "type": "richtext",
          "id": "bnft_copy",
          "label": "Benefit Copy"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Benefits - Full"
    }
  ]
}
{% endschema %}