{% assign sings = section.settings %}
{{ 'collection-pages.css' | asset_url | stylesheet_tag }}
{%- style -%}

{%- endstyle -%}
<div class="social-outreach-wrp">
  <div class="social-outreach-content">
    {% if sings.title %}
      <h1>{{ sings.title }}</h1>
    {% endif %}
    {%- for block in section.blocks -%}
      {% assign bings = block.settings %}
      <div class="social-post">
        <img src="{{ bings.social_image | image_url }}" alt="" class="post-image">
        <div class="post-description">
          <div class="post-copy">
              <h2 class="post-title">{{ bings.social_title | escape }}</h2>
              <p class="post-copy">{{ bings.social_copy | escape }}</p>
          </div>
          <a href="{{ bings.social_link }}">Link</a>
        </div>
      </div>
      {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "Social Outreach",
  "tag": "section",
  "class": "section section-collection",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Header"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Social Post",
      "limit": 2,
      "settings": [
        {
          "type": "image_picker",
          "id": "social_image",
          "label": "Post image"
        },
        {
          "type": "text",
          "id": "social_title",
          "label": "Post title"
        },
        {
          "type": "text",
          "id": "social_copy",
          "label": "Post copy"
        },
        {
          "type": "url",
          "id": "social_link",
          "label": "Post link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Social Outreach"
    }
  ]
}
{% endschema %}