<div class="social-proof">
  <h1>Ready to turn the tides on plastic waste? HoldOn, this is going to get good.</h1>
  <!-- <h1>{{ section.settings.social_proof_header }}</h1> -->

  {%- for block in section.blocks -%}
    <h2 class="banner__heading {{ block.settings.heading_size }}" {{ block.shopify_attributes }}>
      <span>{{ block.settings.heading | escape }}</span>
    </h2>
    <div class="banner__text {{ block.settings.text_style }}" {{ block.shopify_attributes }}>
      <span>{{ block.settings.text | escape }}</span>
    </div>
    <div class="banner__buttons{% if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank %} banner__buttons--multiple{% endif %}" {{ block.shopify_attributes }}>
      {%- if block.settings.button_label_1 != blank -%}
        <a{% if block.settings.button_link_1 == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link_1 }}"{% endif %} class="button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}">{{ block.settings.button_label_1 | escape }}</a>
      {%- endif -%}
      {%- if block.settings.button_label_2 != blank -%}
        <a{% if block.settings.button_link_2 == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link_2 }}"{% endif %} class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}">{{ block.settings.button_label_2 | escape }}</a>
      {%- endif -%}
    </div>
  {%- endfor -%}
</div>
