{% assign sings = section.settings %}
{%- style -%}
  .three-cards-{{ section.id }}{
    background-color:{{ sings.bg_color }};
    padding:100px 20px;
    color:{{ sings.text_color }};
  }
  .three-cards-{{ section.id }} .three-cards-header {
    max-width: 550px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
  }
  .three-cards-{{ section.id }} .three-cards-header h1 {
    font-size:35px;
    text-transform:uppercase;
    margin-bottom:10px;
    letter-spacing:0;
    line-height:1;
  }
  .three-cards-{{ section.id }} .cards-wrp{
    display:flex;
    justify-content:center;
    align-items:flex-start;
    flex-wrap:wrap;
  }
  .three-cards-{{ section.id }} .cards{
    max-width: 375px;
    margin: 20px;
    text-align: center;
    padding: 20px;
  }
  .three-cards-{{ section.id }} img{
    max-width: 125px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .three-cards-{{ section.id }} .three-cards-header .cards-copy{
    margin-bottom:40px;
  }
  .three-cards-{{ section.id }} .three-cards-header .cards-copy p,
  .three-cards-{{ section.id }} .three-cards-header .cards-copy span,
  .three-cards-{{ section.id }} .three-cards-header .cards-copy strong,{
    font-size:16px;
    line-height: 1.4;
  }
  .three-cards-{{ section.id }} .cards h2,
  .three-cards-{{ section.id }} .cards .card-info-wrp,
  .three-cards-{{ section.id }} .cards .card-url{
    letter-spacing:0;
    line-height:1;
  }
  .three-cards-{{ section.id }} .cards h2{
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .three-cards-{{ section.id }} .cards .card-info-wrp{
    margin-bottom: 20px;
  }
  .three-cards-{{ section.id }} .cards .card-info-wrp,
  .three-cards-{{ section.id }} .cards .card-url{
    font-size: 12px;
    line-height:1.4;
  }
  .three-cards-{{ section.id }} .cards .card-url{

  }
  @media screen and (min-width: 640px) {
    .three-cards-{{ section.id }} .three-cards-header h1 {
      font-size:50px;
      margin-bottom:20px;
    }
    .three-cards-{{ section.id }} img{
      max-width: 200px;
    }
    .three-cards-{{ section.id }} .three-cards-header .cards-copy{
      margin-bottom:50px;
    }
    .three-cards-{{ section.id }} .three-cards-header .cards-copy p,
    .three-cards-{{ section.id }} .three-cards-header .cards-copy span,
    .three-cards-{{ section.id }} .three-cards-header .cards-copy strong,{
      font-size:20px;
    }
    .three-cards-{{ section.id }} .cards h2{
      font-size: 25px;
    }
    .three-cards-{{ section.id }} .cards .card-info-wrp,
    .three-cards-{{ section.id }} .cards .card-url{
      font-size: 16px;
    }
  }
{%- endstyle -%}
<div class="three-cards-wrp three-cards-{{ section.id }}">
  <div class="three-cards">
    <div class="three-cards-header">
      <h1>{{ sings.header_title }}</h1>
      <div class="cards-copy">{{ sings.header_copy }}</div>
    </div>
    <div class="cards-wrp">
      {%- for block in section.blocks -%}
        {% assign bings = block.settings %}
        <div class="cards" style="background-color:{{ bings.card_color }}; color:{{ bings.card_text_color }}">
          <div class="card-img-wrp">
            <img src="{{ bings.card_image | image_url }}" alt="{{ bings.card_title }}" class="lazyload">
          </div>
          <h2>{{ bings.card_title }}</h2>
          <div class="card-info-wrp">{{ bings.card_copy | truncate: 100 }}</div>
          <a href="{{ bings.card_url }}" class="card-url">{{bings.card_link_text}}</a>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Three Cards",
  "tag": "section",
  "class": "section three-cards",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default":"#FFFFFF"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default":"#065142"
    },
    {
      "type": "text",
      "id": "header_title",
      "label": "Section Title"
    },
    {
      "type": "richtext",
      "id": "header_copy",
      "label": "Section Copy"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Cards",
      "limit": 3,
      "settings": [
        {
          "type": "color",
          "id": "card_color",
          "label": "Card Color",
          "default":"#F8F0DC"
        },
        {
          "type": "image_picker",
          "id": "card_image",
          "label": "Icon Image"
        },
        {
          "type": "color",
          "id": "card_text_color",
          "label": "Card Text Color",
          "default":"#065142"
        },
        {
          "type": "text",
          "id": "card_title",
          "label": "Card Title"
        },
        {
          "type": "text",
          "id": "card_copy",
          "label": "Card Copy"
        },
        {
          "type": "text",
          "id": "card_link_text",
          "label": "Card Link Text"
        },
        {
          "type": "url",
          "id": "card_url",
          "label": "Card URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Three Cards"
    }
  ]
}
{% endschema %}