{% assign sings = section.settings %}
{%- style -%}
  .values-bar-wrp.{{ section.id }}{
    background-color:{{ sings.bg_color }};
    padding:40px 20px;
  }
  .values-bar-wrp.{{ section.id }} .values-wrp{
    max-width:1200px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    align-items:center;
  }
  .values-bar-wrp.{{ section.id }} .values{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
  }
  .values-bar-wrp.{{ section.id }} .values-image,
  .values-bar-wrp.{{ section.id }} .values-placeholder-image{
    width:35px;
    height:35px;
    margin-bottom:7px;
  }
  
  .values-bar-wrp.{{ section.id }} .v-copy-1,
  .values-bar-wrp.{{ section.id }} .v-copy-2{
    color:{{sings.text_color}};
    font-family:'Korolev-Heavy';
    display:block;
    font-size:14px;
    text-transform:uppercase;
    text-align:center;
    letter-spacing:0;
    line-height:1.2;
  }
  @media screen and (min-width: 400px) {
    .values-bar-wrp.{{ section.id }} .v-copy-1,
    .values-bar-wrp.{{ section.id }} .v-copy-2{
      font-size:16px;
    }
  }
  @media screen and (min-width: 640px) {
    .values-bar-wrp.{{ section.id }} .values{
      flex-direction: row;
    }
    .values-bar-wrp.{{ section.id }} .v-copy-1,
    .values-bar-wrp.{{ section.id }} .v-copy-2{
      font-size:18px;
      text-align:left;
    }
    .values-bar-wrp.{{ section.id }} .values-image,
    .values-bar-wrp.{{ section.id }} .values-placeholder-image{
      width:40px;
      height:40px;
      margin:0;
      margin-right:10px;
    }
  }
  @media screen and (min-width: 767px) {
    .values-bar-wrp.{{ section.id }} .v-copy-1,
    .values-bar-wrp.{{ section.id }} .v-copy-2{
      font-size:20px;
    }
  }
{%- endstyle -%}
<div class="values-bar-wrp {{ section.id }}">
  <div class="values-wrp">
    {%- for block in section.blocks -%}
      {% assign bings = block.settings %}
      <div class="values">
        {% if bings.values_image %}
          <img src="{{ bings.values_image | image_url }}" alt="" class="values-image">
        {% else %}
          <h3 class="values-placeholder-image">Image</h3>
        {% endif %}
        <p class="values-copy">
          <span class="v-copy-1">{{ bings.values_copy_1 }}</span>
          <span class="v-copy-2">
            {% if bings.values_copy_2 %}
              {{ bings.values_copy_2 }}
            {% else %}
               &nbsp;
            {% endif %}
          </span>
        </p>
      </div>
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "Values Bar",
  "tag": "section",
  "class": "section values-bar",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Values",
      "limit": 5,
      "settings": [
        {
          "type": "image_picker",
          "id": "values_image",
          "label": "Icon image"
        },
        {
          "type": "text",
          "id": "values_copy_1",
          "label": "Values Copy Top"
        },
        {
          "type": "text",
          "id": "values_copy_2",
          "label": "Values Copy Bottom"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Values Bar"
    }
  ]
}
{% endschema %}