{% assign sings = section.settings %}
<link rel="preload" as="image" href="{{ sings.bg_img | image_url }}">
{%- style -%}
  .what-to-{{ section.id }}{
    background-color:{{ sings.bg_color }};
    background-size:cover;
  }
  .what-to-{{ section.id }} .content-wrp{
    max-width: 1200px;
    margin: 0 auto;
  }
  .what-to-{{ section.id }} .header-wrp{
    background:url({{ sings.header_bg_img_m | image_url }}) center top no-repeat;
    background-size:cover;
    padding: 50px 30px;
  }
  .what-to-{{ section.id }} .header-wrp h1,
  .what-to-{{ section.id }} .header-wrp h1 span{
    color: {{ sings.title_color }};
    font-size:50px;
    text-transform:uppercase;
    font-family:'Korolev-Heavy';
  }
  .what-to-{{ section.id }} .header-wrp h1 span{
    display:block;
  }
  .what-to-{{ section.id }} .header-wrp p{
    font-size:14px;
    max-width: 450px;
    color:{{ sings.header_copy_color }};
  }
  .what-to-{{ section.id }} .cards-wrp{
    padding: 50px 30px;
  }
  .what-to-{{ section.id }} .cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .what-to-{{ section.id }} .card-wrp {
    display: flex;
    margin-bottom: 30px;
    max-width: 520px;
  }
  .what-to-{{ section.id }} .card-wrp .img-wrp{
    padding-right: 30px;
  }
  .what-to-{{ section.id }} .card-wrp .card-copy{
    width: 100%;
  }
  .what-to-{{ section.id }} .card-wrp .title-wrp{
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 2px solid #065142;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .what-to-{{ section.id }} .card-wrp .title-wrp h1{
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 0;
  }
  .what-to-{{ section.id }} .card-wrp .card-content .copy-block{
    display: flex;
    align-items: start;
    margin-bottom: 5px;
  }
  .what-to-{{ section.id }} .card-wrp .card-content .copy-title {
    flex: 0 0 85px;
    padding-right: 10px;
    font-family: "Korolev-Heavy";
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 1.2;
    padding-top: 2px;
  }
  .what-to-{{ section.id }} .card-wrp .card-content .copy-content {
    line-height: 1.5;
  }
  
  
  @media screen and (min-width: 640px) {
    .what-to-{{ section.id }} .header-wrp h1,
    .what-to-{{ section.id }} .header-wrp h1 span{
      font-size:70px;
    }
    .what-to-{{ section.id }} .header-wrp p{
      font-size:16px;
      max-width: 640px;
    }
  }
  @media screen and (min-width: 767px) {
    .what-to-{{ section.id }} .header-wrp {
      background:url({{ sings.header_bg_img | image_url }}) center top no-repeat;
      background-size:cover;
    }
  }
  @media screen and (min-width: 950px) {
    .what-to-{{ section.id }} .content-wrp{
      max-width: 1200px;
      margin: 0 auto;
    }
    .what-to-{{ section.id }} .header-wrp{
      padding: 70px 30px;
    }
    .what-to-{{ section.id }} .cards{
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
      max-width: 1100px;
      margin: 0 auto;
      padding: 30px;
    }
    .what-to-{{ section.id }} .card-wrp {
      width: 48%;
      margin-bottom:50px;
    }
  }
  @media screen and (min-width: 1000px) {
    
  }
{%- endstyle -%}

<div class="what-to-{{ section.id }}" {% if sings.id_anchor %}id="{{sings.id_anchor}}"{% endif %}>
  <div class="content-wrp">
    <div class="header-wrp">
      <h1>{{ sings.title }}</h1>
      <p>{{ sings.header_copy }}</p>
    </div>
    <div class="cards-wrp">
      <div class="cards">
        {%- for block in section.blocks -%}
          {% assign bings = block.settings %}
          <div class="card-wrp"  style="background-color:{{ bings.card_bg_color }}">
            <div class="img-wrp">
              <img data-src="{{ bings.card_image | image_url }}" class="top-img lazyload" alt="{{ bings.card_title }}">
            </div>
            <div class="card-copy">
              <div class="title-wrp">
                <h1 style="color:{{ bings.copy_color }}">{{ bings.card_title }}</h1>
                {% if bings.link_url %}
                  <a href="{{ bings.link_url }}"><img src="{{ 'arrow-button.png' | file_url }}" class="lazyload" alt="{{ bings.card_title }}"></a>
                {% endif %}
              </div>
              <div class="card-content">
                {% if bings.card_what %}  
                  <div class="copy-block">
                    <div class="copy-title">What</div>
                    <div class="copy-content">{{ bings.card_what }}</div>
                  </div>
                {% endif %}
                {% if bings.card_about %}
                  <div class="copy-block">
                    <div class="copy-title">About</div>
                    <div class="copy-content">{{ bings.card_about }}</div>
                  </div>
                {% endif %}
                {% if bings.card_why %}
                  <div class="copy-block">
                    <div class="copy-title">Why We Like It</div>
                    <div class="copy-content">{{ bings.card_why }}</div>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "'What to' Content",
  "tag": "section",
  "class": "section what-to-content",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default":"#FFFFFF"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Section Header"
    },
    {
      "type": "image_picker",
      "id": "header_bg_img",
      "label": "Header Background Image Mobile"
    },
    {
      "type": "image_picker",
      "id": "header_bg_img_m",
      "label": "Header Background Image Desktop"
    },
    {
      "type": "text",
      "id": "header_copy",
      "label": "Section Header Copy"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title Color",
      "default":"#00FABE"
    },
    {
      "type": "color",
      "id": "header_copy_color",
      "label": "Header Copy Color",
      "default":"#00FABE"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "What to",
      "settings": [
        {
          "type": "image_picker",
          "id": "card_image",
          "label": "Card Image"
        },
        {
          "type": "text",
          "id": "card_title",
          "label": "Card Title"
        },
        {
          "type": "color",
          "id": "card_bg_color",
          "label": "Card Background Color"
        },
        {
          "type": "color",
          "id": "copy_color",
          "label": "Copy Color",
          "default":"#065142"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Guide URL"
        },
        {
          "type": "text",
          "id": "card_what",
          "label": "What"
        },
        {
          "type": "text",
          "id": "card_about",
          "label": "About"
        },
        {
          "type": "text",
          "id": "card_why",
          "label": "Why we like it"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "'What to' Content"
    }
  ]
}
{% endschema %}