{% assign sings = section.settings %}

{{ 'sctn-you-may-also.css' | asset_url | stylesheet_tag }}
{%- style -%}
{%- endstyle -%}
<div class="you-may-also-wrp">
  <div class="you-may-also-items">
    
    {% if sings.card_mobile %}
      <img data-src="{{ sings.card_mobile | image_url}}" alt="Subscribe and Save" class="subscribe-img sub-img-m lazyload">
    {% endif %}
    <div class="section-header">
      {% if sings.title %}
        <h2 class="you-may-also-header">{{ sings.title }}</h2>
      {% endif %}
      {% if sings.view_all_link %}
        <a href="{{ sings.view_all_link }}" 
          target="_blank" 
          rel="noopener noreferrer"
          class="btn-link btn-basic">View all</a>
      {% endif %}
    </div>
    <ul class="you-may-also-list-container">
      {%- for block in section.blocks -%}
        {% liquid 
          assign bings = block.settings
          assign product = bings.ymal_product
          assign gallon = product.metafields.product_info.gallons.value 
          assign count = product.metafields.product_info.count.value 
          assign itemCount = product.metafields.product_info.itemCount.value 
        %}
        <li product-id="{{ product.id }}">
          {% if product.featured_image %}
            <img data-src="{{ product.featured_image | image_url }}" alt="{{ product.title }}" class="lazyload">
          {% else %}
            <img data-src="{{ 'collection-product-bg.png' | file_url }}" alt="{{ product.title }}" class="lazyload">
          {% endif %}
          <div class="reviews">

          </div>
          <div class="label-price">
            <div class="product-header">
              <h2>{{ product.title }}</h2>
            </div>
            <p>
              {% if product.compared_at_price %}
                <strike class="prod-price-strike">{{ product.compared_at_price | money }} </strike>
              {% endif %}
              <span class="prod-price">{{ product.price | money }}</span>
            </p>
          </div>
          {% if gallon or count or itemCount %}  
            <div class="product-info">
              {% if gallon %}
                <p class="prod-gallon"><span>{{ gallon }}</span> gallon{% if gallon != '1' %}s{% endif %}</p>
              {% endif %}
              {% if count %}
                <p class="prod-box"><span>{{ count }}</span> bags/box</p>
              {% endif %}
              {% if itemCount %}
                <p class="prod-num-items"><span>{{ itemCount }}</span> item{% if itemCount != '1' %}s{% endif %}</p>
              {% endif %}
            </div>
          {% endif %}
          <div class="btn-wrp">
            <!-- <button class="btn-submit btn-limegreen">Add to Cart</button> -->
            <a href="{{product.url}}" class="btn-link">Learn more</a>
          </div>
        </li>
      {% endfor %}
    </ul>
    {% if sings.bottom_line %}
      <div class="bottom-line">&nbsp;</div>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "You May Also Like",
  "tag": "section",
  "class": "section section-collection section-you-may-also-items",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title"
    },
    {
      "type": "header",
      "content": "Marketing Card"
    },
    {
      "type": "image_picker",
      "id": "card_mobile",
      "label": "Mobile Card"
    },
    {
      "type": "image_picker",
      "id": "card_desktop",
      "label": "Desktop Card"
    },
    {
      "type": "url",
      "id": "view_all_link",
      "label": "View All Link"
    },
    {
      "type": "checkbox",
      "id": "bottom_line",
      "label": "Bottom Line Visible",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Product - YMAL",
      "limit": 4,
      "settings": [
        {
          "type": "product",
          "id": "ymal_product",
          "label": "Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "You May Also Like"
    }
  ]
}
{% endschema %}